---

---

<button
    id="back-to-top"
    class="flex items-center justify-center fixed bottom-20 right-4 bg-red-700 text-white w-14 h-14 rounded-full shadow-lg hover:scale-110 hover:bg-red-600 transition-all"
>
    <svg
        xmlns="http://www.w3.org/2000/svg"
        width="24"
        height="24"
        viewBox="0 0 24 24"
        fill="none"
        stroke="currentColor"
        stroke-width="2"
        stroke-linecap="round"
        stroke-linejoin="round"
        class="icon icon-tabler icons-tabler-outline icon-tabler-arrow-narrow-left arrow-narrow-left"
        ><path stroke="none" d="M0 0h24v24H0z" fill="none"></path><path
            d="M5 12l14 0"></path><path d="M5 12l4 4"></path><path
            d="M5 12l4 -4"></path></svg
    >
</button>

<script>
    const backToTop = document.getElementById("back-to-top");

    window.addEventListener("scroll", () => {
        // Detectar si estamos al final de la página
        const isBottom =
            window.innerHeight + window.scrollY >=
            document.documentElement.scrollHeight;

        if (window.scrollY > 800) {
            backToTop.classList.remove("opacity-0", "pointer-events-none");
            backToTop.classList.add("opacity-100", "pointer-events-auto");

            // Rotar 90 grados si estamos al final de la página
            if (isBottom) {
                backToTop.style.transform = "rotate(90deg)";
            } else {
                backToTop.style.transform = "rotate(0deg)";
            }
        } else {
            backToTop.classList.remove("opacity-100", "pointer-events-auto");
            backToTop.classList.add("opacity-0", "pointer-events-none");
        }
    });

    backToTop.addEventListener("click", () => {
        window.scrollTo({
            top: 0,
            behavior: "smooth",
        });

        // Animación al hacer clic
        backToTop.style.transform = "rotate(90deg)";
        setTimeout(() => {
            backToTop.style.transform = "rotate(0deg)";
        }, 300);
    });
    backToTop.addEventListener("mouseenter", () => {
        backToTop.style.transform = "rotate(90deg)";
    });

    backToTop.addEventListener("mouseleave", () => {
        backToTop.style.transform = "rotate(0deg)";
    });
</script>
