---

---

<section id="horarios" class="py-14">
    <div class="container mx-auto p-4 text-center" data-aos="zoom-in">
        <div
            class="text-white text-4xl md:text-5xl uppercase mb-8 tracking-widest"
        >
            Agenda Disponible
        </div>
        <h2
            class="text-2xl md:text-3xl font-bold mb-6 text-gray-200 border-b-2 border-red-500 inline-block pb-2"
        >
            Horarios
        </h2>
        <div class="grid grid-cols-1 md:grid-cols-2 gap-8">
            <div
                class="bg-gradient-to-r from-red-500 to-black p-6 rounded-lg shadow-lg transform hover:scale-105 transition-transform duration-300"
            >
                <h3 class="text-2xl font-semibold mb-3 text-white">
                    Lunes - Viernes
                </h3>
                <p class="text-lg text-gray-100">18:00 PM - 20:00 PM</p>
            </div>
            <div
                class="bg-gradient-to-r from-red-500 to-black p-6 rounded-lg shadow-lg transform hover:scale-105 transition-transform duration-300"
            >
                <h3 class="text-2xl font-semibold mb-3 text-white">Sábado</h3>
                <p class="text-lg text-gray-100">10:00 AM - 14:00 PM</p>
            </div>
        </div>
    </div>
</section>
