---
const { title, body } = Astro.props;
---

<article class="bg-gray-600 hero-section">
    <section
        class="flex flex-col text-center justify-center items-center h-screen"
    >
        <nav
            class="text-center text-gray-200 font-semibold"
            data-aos="fade-down"
        >
            <p
                class="md:text-8xl text-6xl bg-clip-text hover:scale-95 tracking-wide hover:rotate-1 transition-transform duration-500 drop-shadow-2xl"
            
            > 
                {title}
            </p>
        </nav>
        <div class="py-4" data-aos="fade-down">
            <p
                class="lg:text-6xl md:text-5xl text-5xl tracking-wide drop-shadow-2xl text-gray-200 font-semibold hover:scale-95 transition-all hover:rotate-1 duration-500"
            >
                {body}
            <p/>
        </div>
        <div class="pt-5" data-aos="fade-down">
            <div
                class="bg-gradient-to-r from-red-400 to-red-800 py-2 shadow-lg px-5 rounded-full text-white hover:scale-95 hover:rotate-1 transition-transform duration-300"
            >
                <span class="md:text-3xl text-xl font-bold drop-shadow-lg">
                    ¡Vive rápido, lava limpio!
                </span>
            </div>
        </div>
        <div class="pt-5" data-aos="fade-down">
            <button
                id="ver-precios"
                class="bg-black hover:bg-red-500 hover:scale-90 transition-all text-white text-xl py-2 px-3 mt-5 rounded shadow-xl uppercase"
            >
                Tarifas
            </button>
            <button
                id="ver-horarios"
                class="bg-black hover:bg-red-500 hover:scale-90 transition-all text-white text-xl py-2 px-3 mt-5 rounded shadow-xl uppercase"
            >
                Horarios
            </button>
        </div>
    </section>
</article>

<style>
    .hero-section {
        position: relative;
        background-image: url("/fondo.webp");
        background-size: cover;
        background-position: center;
        background-attachment: fixed;
        
    }
    .hero-section::before {
        content: "";
        position: absolute;
        top: 0;
        left: 0;
        width: 100%;
        height: 100%;
        background-color: rgba(0, 0, 0, 0.5);
        backdrop-filter: blur(5px);
        -webkit-backdrop-filter: blur(5px);
        z-index: 1;
    }
    .hero-section > * {
        position: relative;
        z-index: 2;
    }
</style>

<script>
    document.getElementById("ver-precios").addEventListener("click", () => {
        document
            .getElementById("precios")
            .scrollIntoView({ behavior: "smooth" });
    });

    document.getElementById("ver-horarios").addEventListener("click", () => {
        document
            .getElementById("horarios")
            .scrollIntoView({ behavior: "smooth" });
    });
</script>
