---

---

<section id="precios">
    <!-- Articulo Motocicletas -->
    <article class="flex flex-col md:flex-row">
        <section
            class="bg-moto bg-cover bg-no-repeat bg-center md:w-1/2 md:order-first order-last"
            data-aos="zoom-in"
        >
        </section>
        <section
            data-aos="zoom-in"
            class="flex flex-col justify-center items-center bg-black text-white md:w-1/2 py-24 md:order-last order-first"
        >
            <p class="text-center md:text-6xl text-5xl py-3">
                Motocicletas Enduros
            </p>
            <p class="text-center md:text-5xl text-4xl py-3">$13.000</p>
        </section>
    </article>

    <!-- Articulo Automoviles -->
    <article class="flex flex-col md:flex-row">
        <section
            data-aos="zoom-in"
            class="bg-automovil bg-cover bg-no-repeat bg-center md:w-1/2 md:order-last order-last"
        >
        </section>
        <section
            data-aos="zoom-in"
            class="flex flex-col justify-center items-center bg-black text-white md:w-1/2 py-24 md:order-first order-first"
        >
            <p class="text-center md:text-6xl text-5xl py-3">Automóviles</p>
            <p class="text-center md:text-5xl text-4xl py-3">$18.000</p>
        </section>
    </article>

    <!-- Articulo Suv o Jeep -->
    <article class="flex flex-col md:flex-row">
        <section
            data-aos="zoom-in"
            class="bg-suv-jeep bg-cover bg-no-repeat bg-center md:w-1/2 md:order-first order-last"
        >
        </section>
        <section
            data-aos="zoom-in"
            class="flex flex-col justify-center items-center bg-black text-white md:w-1/2 py-24 md:order-last order-first"
        >
            <p class="text-center md:text-6xl text-5xl py-3">Suv o Jeep</p>
            <p class="text-center md:text-5xl text-4xl py-3">$23.000</p>
        </section>
    </article>

    <!-- Articulo Camionetas -->
    <article class="flex flex-col md:flex-row">
        <section
            data-aos="zoom-in"
            class="bg-jeep bg-cover bg-no-repeat bg-center md:w-1/2 md:order-last order-last"
        >
        </section>
        <section
            data-aos="zoom-in"
            class="flex flex-col justify-center items-center bg-black text-white md:w-1/2 py-24 md:order-first order-first"
        >
            <p class="text-center md:text-6xl text-5xl py-3">Camionetas</p>
            <p class="text-center md:text-5xl text-4xl py-3">$28.000</p>
        </section>
    </article>

    <!-- Articulo Camionetas XL -->
    <article class="flex flex-col md:flex-row">
        <section
            data-aos="zoom-in"
            class="bg-camionetas bg-cover bg-no-repeat bg-center md:w-1/2 md:order-first order-last"
        >
        </section>
        <section
            data-aos="zoom-in"
            class="flex flex-col justify-center items-center bg-black text-white md:w-1/2 py-24 md:order-last order-first"
        >
            <p class="text-center md:text-6xl text-5xl py-3">Camionetas XL</p>
            <p class="text-center md:text-5xl text-4xl py-3">$33.000</p>
        </section>
    </article>
</section>

<style>
    .bg-moto {
        background-image: url("/public/moto.jpg");
        height: 70vh;
    }
    .bg-automovil {
        background-image: url("/public/automovil.jpg");
        height: 70vh;
    }
    .bg-suv-jeep {
        background-image: url("/public/suvojeep.jpg");
        height: 70vh;
    }
    .bg-jeep {
        background-image: url("/public/jeep.jpg");
        height: 70vh;
    }
    .bg-camionetas {
        background-image: url("/public/camionetas.jpg");
        height: 70vh;
    }
</style>
